@import "_tolebo.less";

@backgroundColor: #333;
@textColor: #b5b5bc;
@linkColor: #b0b0ee;

body {
  background-color: @backgroundColor;
  color: @textColor;

  a {
    color: @linkColor;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: @linkColor;
      text-decoration: underline;
    }
  }

  table {
    border: 1px solid @textColor;
    margin: 15px;
    float: left;

    caption {
      background-color: @textColor;
      color: @backgroundColor;
      font-size: 1.3em;
    }

    thead {
      border-bottom: 1px solid @textColor;
    }

    td {
      padding: 3px;

      &.date {
        border-top: 1px solid @textColor;
        border-bottom: 1px solid @textColor;
      }      
    }    
  }

  #footer {
    text-align: center;
  }
}
