body {
  background-color:#333333;
  color:#b5b5bc;
  font-family:Helvetica, Arial, sans-serif;
}
body a {
  color:#b0b0ee;
  text-decoration:none;
}
body a:hover {
  color:#b0b0ee;
  text-decoration:underline;
}
body #header {
  background-color:#232329;
  overflow:hidden;
}
body #header a {
  display:inline-block;
  padding:10px;
}
body #header a#octoboard {
  float:left;
  font-weight:bold;
  font-size:20px;
}
body #header a#octoboard:hover { text-decoration:none; }
body #header ul#menu {
  float:right;
  list-style:none;
  margin:0;
  overflow:hidden;
}
body #header ul#menu li { float:left; }
body #header ul#menu li:hover { background-color:#3d3d43; }
body #header ul#menu li a:hover { text-decoration:none; }
body #content {
  margin:30px auto;
  opacity:1;
  text-align:left;
  width:80%;
}
body #content h2 { margin-bottom:20px; }
body #content p {
  font-family:Helvetica, Arial, sans-serif;
  font-size:15px;
  line-height:25px;
  margin-bottom:25px;
}
body #content ul {
  background-color:#3d3d43;
  list-style:none;
  margin:0 0 25px 0;
  padding:10px 10px 5px 10px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}
body #content ul li {
  font-size:15px;
  margin-bottom:10px;
}
body #content ul li em {
  background-color:#cccccc;
  color:#333333;
  font-style:normal;
  line-height:25px;
  padding:1px 3px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}
body #content ul li span {
  font-style:normal;
  line-height:25px;
  padding:1px 3px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}
body #content ul li span.positive {
  background-color:#93ff9a;
  color:#333333;
}
body #content ul li span.negative {
  background-color:#ff7178;
  color:#333333;
}
body #footer {
  text-align:center;
  margin-bottom:15px;
  opacity:0.5;
}
